.header{
    background-color: #FECFFD;
}
h1{
    color: #FF3399;
    text-align: center;
}
.footer{
    background-color:#FFFFCC ;
    text-align: center;
}
.P1{
    color: aqua;
}
.P2{
    color: #FF3399;
}
.P3{
    color: chartreuse;
}
