*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.header-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    height: 50px;
    line-height: 50px;


}

.header-nav1 
{
    display: flex;

    
}
.header-nav1 li:hover{
    background-color: red;
}
.header-nav1 li{
    width: 100px;
}.header-nav__search{
    width: 400px;
}