*{
    margin: 0;
    padding: 0;
}
.menu{
    list-style: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: blue;
    

}
.menu li:hover{
    background-color: red;
    
    
}
ul>li{
    position: relative;
}
.menu-c1{
    list-style: none;
    left: 0;
    background-color: blue;
    position: absolute;
    width: 120px;
    display: none;
   
}
ul>li:hover ul{
 display: block;   
}
a{
    text-decoration: none;
    color: white;
}
.menu-c2{
    padding-left: 120px;
    list-style: none;
    width: 120px;
    display: none;
    background-color: blue;
    
   
    
}
